<%- model_class = VeiculoRastreador -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:veiculo_id) %>:</strong></dt>
  <dd><%= @veiculo_rastreador.veiculo_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rastreador_id) %>:</strong></dt>
  <dd><%= @veiculo_rastreador.rastreador_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @veiculo_rastreador.status %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              veiculo_rastreadores_path(:id => @veiculo_rastreador.veiculo_id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_veiculo_rastreador_path(@veiculo_rastreador), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              veiculo_rastreador_path(@veiculo_rastreador),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
